<div class="flip-card" (click)="openDetail()">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img [ngClass]="!drink.ready ? 'hidden' : ''" (load)="imageReady()" [src]="drink.strDrinkThumb" alt="">

            <ngx-skeleton-loader appearance="circle" [theme]="{width: '100%', height: '249px', margin: '0', 'border-radius': '1rem'}"
                *ngIf="!drink.ready">
            </ngx-skeleton-loader>

            <p class="title_front">{{drink.strDrink | titlecase}}</p>
        </div>
        <div class="flip-card-back">
            <p class="drink_category">{{drink.strAlcoholic}}</p>
            <p class="drink_description">{{drink.strCategory}}</p>
        </div>
    </div>
</div>